/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */









@font-face {
    font-family: 'foundry_form_sans_bookbook';
    src: url('../fonts/fofrsabk-webfont.eot');
    src: url('../fonts/fofrsabk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fofrsabk-webfont.woff') format('woff'),
         url('../fonts/fofrsabk-webfont.ttf') format('truetype'),
         url('../fonts/fofrsabk-webfont.svg#foundry_form_sans_bookbook') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'foundry_form_sans_demidemi';
    src: url('../fonts/fofrsadm-webfont.eot');
    src: url('../fonts/fofrsadm-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fofrsadm-webfont.woff') format('woff'),
         url('../fonts/fofrsadm-webfont.ttf') format('truetype'),
         url('../fonts/fofrsadm-webfont.svg#foundry_form_sans_demidemi') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'foundry_form_sans_mediumMd';
    src: url('../fonts/fofrsamd-webfont.eot');
    src: url('../fonts/fofrsamd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fofrsamd-webfont.woff') format('woff'),
         url('../fonts/fofrsamd-webfont.ttf') format('truetype'),
         url('../fonts/ofrsamd-webfont.svg#foundry_form_sans_mediumMd') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	max-width:810px;
    font-size: 1em;
    line-height: 1.4;
    margin: 0px;
    padding: 0px;
   /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;*/
	color: #818181;
    font-family: Arial, Verdana, sans-serif;
    font-size: 62.5%; /* 62.5% squashes default type to 10px, multiplier is set on #wrapper */
    line-height: 1.0em;
    background-color: #ffffff;
	position: absolute;
	min-width: 100%;
   
}

/* Overide Default CSS */

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.7em;
	font-weight: bold;
	line-height: 1.2em;
	color: #008f89;
}

h3 span {
	text-transform: uppercase;
}

h3.vote-headline {
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	padding-bottom:24px;
	font-size: 2em;
}


a {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

p {
	font-size: 1.4em;
	line-height: 1.4em;
	color: #636466;
}

p a {
	font-weight: 600;
	text-decoration: none;
	color: #49b557;
}

p a:hover {
	text-decoration:underline;
}


 h2.dashed-heading {
 	display: block;
 	float: left;
 	width: 100%;
 	text-align: center;
 	padding-bottom: 20px;
 	background-image: url('../img/dash.jpg');
 	background-repeat:repeat-x;
 }
 
 h2.dashed-heading span {
 	display: block;
 	margin: 0 auto;
 	width: 60%;
 	background-color: #fff;
 	margin-top: -12px;
 	color: #008F89;
 	font-family: Arial, Verdana, sans-serif;
 	font-weight: 600;
 	font-size: .9em;
 }
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

.sprite {
	background-image:url('../img/sprite.png');
	overflow: hidden;
}

.green-btn {
	display: block;
	padding: 8px 12px 8px 12px;
	width: auto;
	color: #fff;
	background-image:url('../img/btn-bg.png');
	background-position: top right;
	font-size: 1.3em;
	position: relative;
	padding-bottom: 10px;
	margin-top: -10px;
}

.green-btn:before{
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width:5px;
	height: 25px;
	background-image:url('../img/btn-bg.png');
	background-position: bottom left;
}

.green-btn:hover {
	background-image:url('../img/btn-bg-hover.png');
}

.green-btn:hover:before {
	background-image:url('../img/btn-bg-hover.png');
}

.left {
	float: left;
}

.right {
	float: right;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   BTN
   ========================================================================== */

.green-btn {
	display: block;
	padding: 8px 12px 8px 12px;
	width: auto;
	color: #fff;
	background-image:url('../img/btn-bg.png');
	background-position: top right;
	font-size: 1.3em;
	position: relative;
	padding-bottom: 10px;
	margin-top: -10px;
}

.green-btn:before{
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width:5px;
	height: 25px;
	background-image:url('../img/btn-bg.png');
	background-position: bottom left;
}

.green-btn:hover {
	background-image:url('../img/btn-bg-hover.png');
}

.green-btn:hover:before {
	background-image:url('../img/btn-bg-hover.png');
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

	
div.wrap {
	display: block;
	float: left;
	width: 100%;
	min-height: 850px;
	max-width: 810px;
	/*background-image: -webkit-linear-gradient(135deg, #16b258, #77c044 40%, #bdd631);
	background-image: -moz-linear-gradient(135deg, #16b258, #77c044 40%, #bdd631);
	background-image: -o-linear-gradient(135deg, #16b258, #77c044 40%, #bdd631);
	background-image: -ms-linear-gradient(135deg, #16b258, #77c044 40%, #bdd631);
	background-image: linear-gradient(135deg, #16b258, #77c044 40%, #bdd631);*/
	
	background-image: url('../facebook/bg.jpg');
	background-repeat: no-repeat;
	background-color: #1eb143;
}
div.content-wrap {
	display:block;
	max-width: 740px;
	margin: 0 auto;
}

span.promotion-discloser {
	display: block;
	float: left;
	width: 70px;
	position: absolute;
	top: 15px;
	left: -35px;
	line-height: 1.3em;
}

h1.main-headline {
	display: block;
	float: left;
	width: 100%;
	color:#fff;
	font-size: 50px;
	line-height:1em;
	letter-spacing: 0px;
	padding-top: 8px;
	font-family: 'foundry_form_sans_bookbook';
	padding-bottom: 25px;
	background-image: url('../facebook/circle-slogan.png');
	background-repeat: no-repeat;
	background-position: top right;
	padding-top:20px;
}

h3.main-subhead {
	font-size: 3em;
}

span#facebook-icon {
	display: block;
	float: left;
	width: 55px;
	height: 50px;
	background-image: url('../facebook/facebook-icon.png');
	background-repeat: no-repeat;
	background-position:  5px 7px;
}

p.sub-head{
	color: #fff;
	font-size: 16px;
	line-height: 1.4em;
	padding-bottom: 20px;
	font-weight: normal;
}

div.white-content {
	display: block;
	float: left;
	width: 700px;
	min-height: 100px;
	background-color: #fff;
	padding:20px;
	margin-bottom:50px;
}

section.ipad-mini-wrap {
	position: relative;
	display: block;
	/* PHASE 2 border-bottom: 1px dashed #939598; margin-bottom: 10px;*/
	padding-top: 10px;
}

section.ipad-mini-wrap img {
	position: absolute;
	top: -4px;
	left: -10px;
}

div.slant-paragraph {
	display: block;
	float: right;
	width: 515px;
	overflow: hidden;
}

span.i1 {padding-left: 3px;}
span.i2 {padding-left: 6px;}
span.i3 {padding-left: 9px;}
span.i4 {padding-left: 12px;}

div.small-paragraph {
	display: block;
	float: right;
	width: 470px;
	position: relative;
	margin-top: -10px;
}

div.small-paragraph p{
	display: block;
	float:left;
	width: 330px;
	padding-top: 0px;
	padding-left: 50px;
}

div.small-paragraph a {
	position: absolute;
	top: 25px;
	right: 10px;
}



section.discounts {
	padding-top: 20px;
}

section.discounts img{
	float: right;
}


section.charities-wrap {
	display: block;
	float: left;
	height: 240px;
}

/* Charities */

div.charities-tout {
	display: block;
	float: left;
	width: 47%;
	margin-bottom: 32px;
}

div.charities-tout.no-margin-right {
	margin-right:0px;
}


div.charities-wrapper.no-top-padding {
	padding-top: 0px;
}

div.charities-wrapper {
	display: block;
	float: left;
	width: 218px;
	height: 185px;
	position: relative;
	overflow: hidden;
	padding-top: 20px;
}

div.charities-tout h4 {
	text-align: center;
	color: #7b8974;
	font-size: 1.7em;
	font-weight: 600;
	margin-bottom: 10px;
}

/* Image div hover click */

a.see-more {
	display: block;
	float: left;
	width: 100%;
	overflow: hidden;
	position: relative;
}

div.hover-click {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 225px;
	background-image: url('../img/trans.png');
}


a.see-more:hover div.hover-click {
	display: block;
}



div.hover-click span {
	display: block;
	font-weight:600;
	color: #fff;
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.4em;
	padding:90px 10px 0px 15px;
	text-align: center;
	background-image: url('../img/plus-icon.png');
	background-repeat: no-repeat;
	background-position: 11px 94px;
	line-height: 1.3em;
	
}

a.vote-btn {
	margin: 7px 0px 0px -1px;  /* NOTE: THIS TOP VALUE MATCHES div.charities-wrapper > div.facebook-like-wrap */
}

span.moneyRaised {
	display: block;
	float: right;
	padding-top: 15px;
	font-size: 1.3em;
	color: #636466;
}

/* Light Box */

div.pop-up h2{
	display: block;
	float: left;
	width: 100%;
	background-color:#66cc33;
	margin-top: 0px;
	text-align: center;
	padding: 7px 0px 5px 0px;
	color: #fff;
	font-size: 1.8em;
}

div.pop-up span {
	display: block;
	font-size: 1.3em;
	line-height: 1.5em;
}

div.pop-up span.bold {
	font-weight: 600;
}

div.pop-up span.address {
	display: block;
	margin-top: 20px;
}

div.retailers-img-wrap {
	display: block;
	float: left;
	width:245px;
	height: 100%;
	min-height: 500px;
}

div.pop-up-content {
	display: block;
	float: left;
	width: 580px;
	padding-top: 20px;
}

div.pop-up-content p {
	margin-top: 0px;
	padding-top: 0px;
}

div.pop-up-content.signup-form{
	width: 500px;
	padding-top: 0px;
}

div.pop-up-content img {
	float: left;
	padding-right: 20px;
}

em {
	font-style: normal;
}

div.white-content.thanks {
	margin-top: 20px;
}

div.thanks-content-wrap{
	display: block;
	float: left;
	padding: 0px 0px 0px 10px;
	width: 100%;
}

div.thanks-content-wrap img {
	display: block;
	float: left;
	padding-left: 0px;
	margin-left: -10px;
}

div.thanks-content-wrap div {
	display: block;
	float:right;
	width: 480px;
}

div.facebook-like-share {
	display: block;
	float: left;
	width: 500px;
	height: 30px;
}




/* ==========================================================================
   form
   ========================================================================== */

/* Light Box */

div.pop-up h2{
	display: block;
	float: left;
	width: 100%;
	background-color:#66cc33;
	margin-top: 0px;
	text-align: center;
	padding: 7px 0px 5px 0px;
	color: #fff;
	font-size: 1.8em;
	margin-bottom: 20px;
}



label {
	display: block;
	float:left;
	font-size: 1.4em;
	padding: 8px 0 0px 3px;
	width: 120px;
}


input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"] {
  border: 1px solid #dce4ec;
  color: #34495e;
 font-family: 'foundry_form_sans_bookbook';
  font-size: 15px;
  padding: 3px 0 4px 5px;
  text-indent: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; 
  width: 300px;
  display: block;
  float: left;
  margin-bottom: 15px;
  }
  
  
  
  
  /* Style Place holders */
  textarea:-moz-placeholder,
  input[type="text"]:-moz-placeholder,
  input[type="password"]:-moz-placeholder,
  input[type="datetime"]:-moz-placeholder,
  input[type="datetime-local"]:-moz-placeholder,
  input[type="date"]:-moz-placeholder,
  input[type="month"]:-moz-placeholder,
  input[type="time"]:-moz-placeholder,
  input[type="week"]:-moz-placeholder,
  input[type="number"]:-moz-placeholder,
  input[type="email"]:-moz-placeholder,
  input[type="url"]:-moz-placeholder,
  input[type="search"]:-moz-placeholder,
  input[type="tel"]:-moz-placeholder,
  input[type="color"]:-moz-placeholder,
  .uneditable-input:-moz-placeholder {
    color: #acb6c0; }
    
    
  textarea::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="datetime"]::-webkit-input-placeholder,
  input[type="datetime-local"]::-webkit-input-placeholder,
  input[type="date"]::-webkit-input-placeholder,
  input[type="month"]::-webkit-input-placeholder,
  input[type="time"]::-webkit-input-placeholder,
  input[type="week"]::-webkit-input-placeholder,
  input[type="number"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="url"]::-webkit-input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="color"]::-webkit-input-placeholder,
  .uneditable-input::-webkit-input-placeholder {
    color: #acb6c0; }
    
    
  textarea.placeholder,
  input[type="text"].placeholder,
  input[type="password"].placeholder,
  input[type="datetime"].placeholder,
  input[type="datetime-local"].placeholder,
  input[type="date"].placeholder,
  input[type="month"].placeholder,
  input[type="time"].placeholder,
  input[type="week"].placeholder,
  input[type="number"].placeholder,
  input[type="email"].placeholder,
  input[type="url"].placeholder,
  input[type="search"].placeholder,
  input[type="tel"].placeholder,
  input[type="color"].placeholder,
  .uneditable-input.placeholder {
    color: #acb6c0; }
    
    
   /* on Focus */ 
    
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .uneditable-input:focus {
    border-color: #1abc9c;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    

.error {
	border: 1px solid #ef1303 !important;
}

span.error-text {
	display: block;
	float: right;
	color: #ef1303;
	margin: -10px 4px 0px 0px;
	font-size: .9em;
	letter-spacing: 1px;
	font-style: italic;
}






input[type="submit"], .angryButton {
	display: block;
	float: right;
	margin-right: -12px;
	width: auto;
	color: #fff;
	background-image:url('../img/submit-bg.png');
	background-position: top right;
	font-size: 1.3em;
	position: relative;
	border: none;
	text-indent: -99999px;
	overflow: hidden;
	background-color: #FF00FF;
	width: 55px;
	height: 25px;
	
}

input[type="submit"]:hover {background-position: bottom right;}

div.input-wrap {
	display: block;
	float: left;
	width: 100%;
	padding-top: 10px;
}

div.input-wrap em {
	display: block;
	float: left;
	font-size: 1.2em;
	height: 20px;
	padding-right: 20px;
}

span.radio-label {
	display: block;
	float:left;
	width: 50px;
	height: auto;
	font-size: 1.2em;
	margin-top: -5px;
}

div.input-wrap input[type="checkbox"] {
	display:block;
	float: left;
	margin: -3px 10px 0px 0px;
	width: 15px;
	height: 15px;
}

div.facebook-like-wrap {
	display: block;
	float: left;
	width: 100%;
	padding:5px;
	font-size: 1.3em;
	color:#000;
	margin-bottom: 15px;
}

div.charities-wrapper > div.facebook-like-wrap {
    background-color: #fff;
    width: auto;
    margin-top: 7px; /* NOTE: THIS MATCHES a.vote-btn */
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* -----------------------------------------  BOFA BRANCH LAUNCH 9.5.13 ----------------------------------------- */



#tabs {

   width: 100%;
    height:30px; 
   padding-right: 2px;
   margin-top: 30px;
   

}
a {cursor:pointer;}

#tabs li {
    float:left; 
    list-style:none; 
    width: 19.694%;
    border-top:1px solid #ccc; 
    border-left:1px solid #ccc; 
    border-right:1px solid #ccc; 
    border-top-left-radius:3px;  
    border-top-right-radius:3px;
      outline:none;
}

#tabs li a {

    font-family:Arial, Helvetica, sans-serif; 
    font-size: small;
    font-weight: bold; 
    color: #5685bc;;
   padding-top: 10px;
   padding-left: 7px;
   padding-right: 7px;
    padding-bottom: 10px; 
    display:block; 
    background: #FFF;
    border-top-left-radius:3px; 
    border-top-right-radius:3px; 
    text-align: center;
    text-decoration:none;
    outline:none;
  
}

#tabs li a.inactive{
    padding-top:10px;
    padding-bottom:10px;
  padding-left: 8px;
  padding-right: 8px;
    color:#666666;
    background: #EEE;
   outline:none;
   border-bottom: solid 1px #CCC;

}

#tabs li a:hover, #tabs li a.inactive:hover {


    color: #5685bc;
      outline:none;
}

.mc-container {

    clear:both;           
    width:100%; 
    text-align:left;
   padding-top: 35px;

}

.mc-container img { 
    display: block;
    float: left;
 }

.mc-container p.tab-right {
    display: block;
    float: left;
    width: 65%;
    margin-top: 50px;
    margin-left: 25px;
}

.mc-container ul {  }

.mc-container li { }


/* -------------------------------------------- RETIRED CHARITIES STYLES -----------------------------------------------------------*/

.retired {
    width: 720px;
}

.retired .box-3 {
    display: block;
    float: left;
    width: 240px;
    height: 200px;
}

.retired span.moneyRaised {
	display: block;
	float: left;
	padding-top: 13px;
	font-size: 1.3em;
	color: #636466;
}

div.facebook-like-wrap {
	display: block;
	float: left;
	width: 50%;
	padding:5px;
	font-size: 1.3em;
	color:#000;
	margin-bottom: 15px;
}

.retired div.hover-click {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 91%;
	height: 205px;
	background-image: url('../img/trans.png');
}


.retired div.hover-click span {
	display: block;
	font-weight:600;
	color: #fff;
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.4em;
	padding:49px 0px 0px 8px;
	text-align: center;
	background-image: url('../img/plus-icon.png');
	background-repeat: no-repeat;
	background-position: 5px 54px;
	line-height: 1.3em;
	
}